---
---

@import "{{ site.theme }}";
.page-header { color: #159957; text-align: center; background-color: #fff; background-image: url("../images/background.jpeg"); background-repeat: no-repeat; background-position: center;  }
