---
---

@import "{{ site.theme }}";
.page-header { color: #000; text-align: center; background-color: #fff; background-image: url("../images/background.jpeg"); background-repeat: no-repeat;i  background-position: center;  }
